<div data-role="view" data-layout="main-nonav" data-model="app.home" data-before-show="app.home.onShow1" data-after-show="app.home.afterShow"
    id="homeScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text"> 
            <span data-bind="text: strings.home.title"></span>
            <a data-align="right" class="fa fa-reply" href="components/miKia/view.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div id="homeModel" class="form-view screen__content screen__content--form add-item-view" style="text-align:center">
        <form>
            <!--<ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <div id="imagenKiaField" class="field field--image imageListItem km-label-above">
                        <div class="align-center field__content"> <img src="resources/kia.png" style="width:70%"> </div>
                    </div>
                </li>
            </ul>-->
            <div class="button-group">
                <label> Ip publica/interna <input id="switch" onclick="configIps();" type="checkbox" data-role="switch" /> </label>
                <!-- <input id="switch" data-change="configIps();" type="checkbox" data-role="switch" />-->
            </div>            
            <div class="button-group">
                <a class="primary" data-role="button" data-bind="events: { click: homeModel.ingresar }, buttonText: strings.home.homeModel.submitButton"></a>
            </div>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: homeModel.registro }, buttonText: strings.home.homeModel.cancelButton"></a>
            </div>
        </form>
    </div>
</div>