<div data-role="view" data-title="View" data-layout="main" data-model="app.miKia4" data-show="app.miKia4.onShow" data-after-show="app.miKia4.afterShow"
    id="miKia4Screen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text"> <span data-bind="text: strings.miKia4.title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"
                data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" href="components/OrdenInstalacion/view.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <table  border="2px" style="text-align:center;width:100%;">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
            
            <tr>
                <td colspan="3"> <button id="bloqueo" onclick="bloqueAuto();" style="width: 100%">
                    BLOQUEO
                </button> </td>
            </tr>
            <tr><td></td></tr
            <tr>
                <td colspan="3"> <button id="desbloqueo" onclick="desbloqueAuto();" style="width: 100%">
                    DESBLOQUEO
                </button> </td>
            </tr>
            <tr><td></td></tr
            <tr>
                <td colspan="3"> <button id="aperturaremota" onclick="aperturaRemota();" style="width: 100%">
                    APERTURA REMOTA
                </button> </td>
            </tr>
        </table>
</div>