<div data-role="view" data-title="Detalle OT" data-layout="main" data-model="app.detalleOT" data-show="app.detalleOT.onShow"
    data-after-show="app.detalleOT.afterShow" id="detalleOTScreen" class="screen" data-before-show="app.detalleOT.inicializa" data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"
                data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" href="components/OrdenesTrabajo/view.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div data-role="content" style="background-image: url('resources/CarMenu.jpg');">
    <div id="detalleOT"></div>

     </div>
</div>