<!DOCTYPE html>
<div data-role="view" data-title="Términos y Condiciones" data-layout="main" data-model="app.terminoscon" data-show="app.terminoscon.onShow"
    data-after-show="app.terminoscon.afterShow" id="terminosconScreen" class="screen" data-before-show="app.terminoscon.inicializa"
    data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-role="view-title"></span>
            <h1><b><span id="NumeroChasisTC" class="km-view-subtitle"></span></b></h1>
            <a data-align="right" class="fa fa-reply" href="components/Registro/view.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div class="content" style=" padding: 30px 20px;" scrool>
        <form>
            <table>
                <tr>
                    <td align='justify' style="overflow:scroll;">
                        <div align='justify'>
                            <b><spam align="center">  DECLARACIÓN DE PRIVACIDAD KIA</b></spam></br>
                            Valoramos la privacidad de nuestros clientes Kia Motors Ecuador y su
                            distribuidora AEKIA S.A., recopila información de nuestros usuarios en diversos puntos de nuestro
                            sitio web. AEKIA S.A. Es la única entidad con acceso a la información recopilada en este portal.
                            Esta información no será vendida a terceros. Sólo compartiremos esta información con los concesionarios
                            autorizados por la marca Kia. Nuestra página almacena información personal que nos proveen ustedes
                            para determinados servicios. Ver debajo las definiciones de cada uno de estos métodos. 
                            </br><b><spam> INFORMACIÓN ANÓNIMA - COOKIES Y ARCHIVOS DE REGISTROS</b></spam></br> 
                            Una cookie es un dato almacenado en el disco duro del
                            usuario que contiene información sobre el usuario. El uso de una cookie no está vinculado de
                            manera alguna a la información personal, hasta que un usuario suministre tal información (ver
                            debajo). Si un usuario rechaza o borra la cookie, aun así puede usar nuestro sitio. El único
                            inconveniente que esto presenta es que el usuario estará limitado en algunas áreas de nuestro
                            sitio. Por ejemplo, el usuario no podrá recibir avisos de ofertas especiales, ni participar en
                            cualquier concurso que pueda realizarse. Las cookies también nos permiten hacer el seguimiento
                            y agrupar datos de comportamiento del flujo de clics. Al hacer esto, podemos responder mejor
                            a los intereses de nuestros usuarios y mejorar sus experiencias en nuestro sitio. Mantenemos
                            registros de "standards" del Web que almacenan datos de todos los visitantes de este sitio web.
                            Estos registros contienen: 
                            </br>&nbsp;&nbsp;• 1. El dominio de Internet desde el cual usted visita este sitio.
                            </br>&nbsp;&nbsp;• 2. Su dirección I.P. (Su computadora es asignada automáticamente una dirección I.P. cuando
                            navegas por Internet. Su dirección IP es estática o dinámica. Es posible identificarte a través
                            de una dirección IP estática, en cambio, la dirección IP dinámica no se puede rastrear). 
                            </br>&nbsp;&nbsp;• 3. El tipo de navegador de internet que utiliza y el sistema operativo que utiliza. 
                            </br>&nbsp;&nbsp;• 4. La hora y la fecha en que visito esta página de Internet. 
                            </br>&nbsp;&nbsp;• 5. Las páginas que visitó dentro de nuestra página principal de Internet. 
                            </br>&nbsp;&nbsp;• 6. La dirección del sitio web en el cual se encuentra el enlace ("link") que le dirigió a nuestra página de Internet. 
                            </br>Kia Motors Ecuador utiliza la información
                            de los registros del Web y del "clickstream" para ayudarnos a identificar las características
                            populares. De esta manera podemos diseñar nuestra página de Internet de tal forma que la página
                            sea más útil y más fácil de utilizar por los usuarios. Los registros Web se almacenan en archivos
                            secuenciales y no intentamos identificar a los usuarios mediante estos registros a menos que
                            se den unas circunstancias excepcionales. Ejemplos de situaciones excepcionales que podrían surgir
                            lo son cuando usuarios intentan irrumpir, perturbar o perjudicar nuestra página de Internet,
                            en dicho caso podríamos utilizar nuestros registros del Web para identificar a dichas personas.
                            De la misma manera podríamos proveerles información de nuestro registro del Web a los organismos
                            gubernamentales encargados del cumplimiento de la ley si entendemos que existen pruebas de violaciones
                            a leyes federales, estatales o locales, o la posibilidad de que esto ocurra. 
                            </br><b><spam> OFRECIMIENTO VOLUNTARIO DE INFORMACIÓN PERSONAL</b></spam></br> 
                            Los usuarios pueden optar por ofrecer información personal (nombre, dirección
                            de correo electrónico, número de teléfono, etc.) para que le brindemos servicios como, solicitud
                            de folletos e información, encuestas y concursos, anuncios de sitios y ofertas especiales en
                            el momento de la solicitud o en un futuro. Si usted nos proveyó su dirección de correo electrónico
                            y ya no desea recibir avisos, puede borrar su nombre de nuestra lista de avisos enviando un correo
                            electrónico a info@kia.com.ec, llamando por teléfono, o enviando correspondencia (ver abajo la
                            información de contacto). Cuando el usuario se inscribe para determinados servicios y ofertas
                            de nuestro sitio, podemos compartir nombres u otra información de contacto necesaria con cualquier
                            tercero asociado que brinde estos servicios. Kia Motors Ecuador compartirá la información de
                            acuerdo con la política de privacidad vigente en el momento en que reúna la información. Si la
                            información personal de un usuario cambia, buscaremos la forma de corregir o actualizar esos
                            datos personales. Esto se puede hacer enviando un correo electrónico a info@kia.com.ec o comunicándose
                            con Kia Motors Ecuador, como se indica más abajo. 
                            </br><b><spam>SEGURIDAD</b></spam></br> 
                            Tomos precauciones razonables para proteger la información de nuestros usuarios, tanto mientras se transmite la información como
                            después de recibida. Además, una vez que recibimos la información, utilizamos procedimientos
                            y políticas de seguridad acordes con las normas de la industria para protegerla de extravíos,
                            robo, acceso no autorizado, destrucción, utilización, modificación y/o divulgación. Si tiene
                            preguntas acerca de la seguridad de nuestro sitio Web, puede enviar un correo electrónico a info@kia.com.ec.
                            </br><b><spam> VÍNCULOS</b></spam></br> 
                            Este sitio web contiene vínculos ("links") a otros sitios. Debe saber que Kia Motors
                            Ecuador no es responsable de las prácticas de privacidad de esos otros sitios. Aconsejamos a
                            nuestros usuarios que estén conscientes del momento en que dejan nuestra página de Internet y
                            le solicitamos que lean las declaraciones de privacidad de cada sitio web que reúne información
                            personal. Esta declaración de privacidad se aplica únicamente a la información reunida por esta
                            página de Internet. 
                            </br><b><spam> AVISO DE CAMBIOS</b></spam></br> 
                            Nos reservamos el derecho a cambiar esta política de privacidad
                            en cualquier momento. Publicaremos los cambios de esta página para que los usuarios siempre sepan
                            qué información almacenamos, cómo se utiliza y en qué circunstancias la divulgamos. Utilizaremos,
                            compartiremos y divulgaremos la información de acuerdo con la política de privacidad vigente
                            en el momento de reunir la información. 
                            DIVULGACIONES NECESARIAS 
                            Kia Motors Ecuador puede proveer
                            cualquier información, que pueda ser utilizada para identificar a usuarios o no, a toda persona
                            que realice servicios legales, operacionales, de auditoría, u otros servicios similares. También
                            divulgamos datos, identificables personalmente o no, de ser exigidos mediante citación, orden
                            judicial o de registro. Siempre que sea posible, Kia Motors Ecuador avisará por correo electrónico
                            al usuario afectado que se producirá o se produjo la divulgación. También podemos divulgar información
                            que pueda ser utilizada para identificar a usuarios o no, si consideramos dicha divulgación necesaria
                            para proteger la seguridad de (i) un individuo, (ii) el público, o (iii) la seguridad y confiabilidad
                            de Kia Motors Ecuador o de esta página de Internet. 
                            </br><b><spam> INFORMACIÓN DE CONTACTO DE KIA MOTORS ECUADOR</b></spam></br>
                            Para comunicarse con Kia Motors Ecuador mediante el Internet puedes dar clic en el área de contáctenos.
                            Para comunicarte con AEKIA S.A. sin utilizar el Internet puedes enviar correspondencia a: 
                            </br><b><spam> AEKIA</b></spam></br>
                            S.A. Av. 10 de Agosto N31-162 y Mariana de Jesus Edificio Metro Car 4to piso, Quito Ecuador Información
                            de datos personales: yo, por la presente otorgo autorización expresa a favor de AEKIA S.A., para
                            la recopilación, archivo y gestión de los datos personales entregados. Entiendo y acepto los
                            términos y condiciones, así como Autorizo la disposición de mi información. Reserva de Derechos.-
                            La información como precios, programas de incentivos, especificaciones técnicas, equipamiento,
                            ilustraciones, imágenes o videos pueden no corresponder con el producto final, debido a que algunas
                            características del vehículo de la imagen que se muestra no aplican a los modelos ensamblados
                            o comercializados en Ecuador, por lo que AEKIA se reserva el derecho de hacer cambios, suspender
                            o modificar en cualquier momento sin previo aviso. He leído y acepto los términos del contrato
                            descritos en el cuadro anterior. </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>