<div data-role="view" data-layout="main-nonav" data-model="app.logIn" data-show="app.logIn.onShow" data-after-show="app.logIn.afterShow"
    id="logInScreen" class="screen" style="align:center">
    <div data-role="content" style="background-image: url('resources/CarSeat.jpg');" class="general">
      <!--  <div style="width:70%; background: white;" class="blanco">-->
            <div class="blanco">
                <form>
                    <ul data-role="listview" >
                        <li> <input type="email" data-bind="value: logInModel.email" required autofocus placeholder="ID"> </li>
                        <li> <input type="password" data-bind="value: logInModel.password" required placeholder="Password"> </li>
                        <li> <label><span>Auto Login</span>
                                    <input type="checkbox" data-bind="checked: logInModel.rememberme">
                                </label> </li>
                        <li> <a href="components/RecuperarContrasena/view.html">Olvide contraseña</a> </li>
                    </ul>
                    <div class="button-group button-group-vertical">
                        <a data-role="button" class="primary" data-bind="events: { click: logInModel.signin }, buttonText: strings.logIn.logInModel.signinLabel"></a>
                    </div> <span class="status" data-bind="text: logInModel.errorMessage"></span> </form>
                <div class="offline" align="center"
                    style="display:none;"> You are currently offline. Before using this app in offline mode you must initialize it while you are online
                    </div>
            </div>
       <!-- </div>-->
    </div>
    <style>
        .general {
            text-align: center;
            margin: auto;
        }
        
        .blanco {
            display: inline-block;
            background-color: #EEE;
            border: 1px solid #ccc;
            padding: 0 1rem;
            margin: 1rem;
        }
        
        .screen {
            text-align: center;
            margin: auto;
        }
    </style>
    </d