<div data-role="view" data-title="View" data-layout="main" data-model="app.miKia6" data-show="app.miKia6.onShow" data-after-show="app.miKia6.afterShow"
    id="miKia6Screen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text"> <span data-bind="text: strings.miKia6.title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"
                data-icon="drawer-button"></a>
        </div>
    </header>
    <div class="content" style=" padding: 30px 20px;">
        <div class="container">
            <form class="form-horizontal" id="registro">
                <div class="form-group">
                    <div class="col-xs-12"> <input type="text" class="form-control" id="Identificacion" placeholder="Identificacion" required="true" onblur="personaGet();">                        </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input type="text" class="form-control" id="Nombres" placeholder="Nombres" required="true"> </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input type="text" class="form-control" id="Apellidos" placeholder="Apellidos"> </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input type="email" class="form-control" id="email" placeholder="Email" onblur="ValidaMail();"> </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input type="text" class="form-control" id="Chasis" placeholder="Chasis"> </div>
                </div>  
                <div class="form-group">
                    
                    <div class="col-xs-12"><input type="date" class="form-control" id="FechaNacimiento" placeholder="Fecha de nacimiento"> </div>
                </div>                                
                <div class="form-group">
                    <div class="col-xs-12"> <input type="number" class="form-control" id="celular" placeholder="Celular" onblur="ValidaCelular();"> </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input type="password" class="form-control" id="password" placeholder="Contraseña"> </div>
                </div>   
                <div class="form-group">
                    <div class="col-xs-12"> <input type="password" class="form-control" id="repassword" placeholder="Confirmar contraseña" onkeyup="ValidaPassword();"> </div>
                </div>                               

            </form>
            <div class="form-group"  style="text-align:center"> <button id="btnRegistrar" class="primary" data-role="button" onclick="registrar()">Registrarse</button> </div>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_miKia6 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_miKia6 -->
</div>