<div data-role="view" data-title="Historial Vehículo" data-layout="main" data-model="app.mntOTs" data-show="app.mntOTs.onShow"
    data-after-show="app.mntOTs.afterShow" id="mntOTsScreen" class="screen" data-before-show="app.mntOTs.inicializa" >
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"
                data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply"  href="components/miKia/view.html"  aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div data-role="content">
        <div class="container">
            <form class="form-horizontal" id="ots">
                <table style="text-align: center;">
                    <tr>
                        <td>
                            <div class="form-group">&nbsp;&nbsp;&nbsp;&nbsp;Fecha Inicio
                                <div class="col-xs-12"><input id="FechaInicio" style="width: 75%;" align="center" placeholder="Fecha Inicio" onkeydown="return false;"></div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">&nbsp;&nbsp;&nbsp;&nbsp;Fecha Fin
                                <div class="col-xs-12"><input id="FechaFin" style="width: 75%;" align="center" placeholder="Fecha Fin" onkeydown="return false;"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            <div class="form-group"> 
                                <button id="btnConsultar" class="primary" data-role="button" onclick="Consultar()">Consultar</button>
                            </div>
                        </td>
                    </tr>
                </table>
        </div>
        </form>
        <div id="listView"></div>
    </div>
</div>