<div data-role="view" data-layout="main-nonav" data-model="app.miKia" data-show="app.miKia.onShow" data-after-show="app.miKia.afterShow"
    id="miKiaScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text"> <span data-bind="text: strings.miKia.title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"
                data-icon="drawer-button"></a>
        </div>
    </header>
    <div data-role="content" style="background-image: url('resources/CarMenu.jpg');">
        <!-- START_CUSTOM_CODE_miKia -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <table>
            <tr>
                <td><button id="btnAgendaCita" onclick="AgendarCita();">AGENDAR CITA</button></td>
                 <td><button id="btnAgendarVin" onclick="AgendarVin();">AGENDAR VIN</button> </td>
                 <td><button id="btnHistoriaVin" onclick="HistorialVin();">HISTORIAL VIN</button></td>
                 <td><button id="btnLocalizar" onclick="LocalizarKia();">LOCALIZAR MI KIA</button> </td>
            </tr>
        </table>
        <table>
            <tr>
                <td> <button id="btnCinfigurarSherlock" onclick="ConfigurarSherlock();">CONFIGURAR SHERLOCK</button> </td>
                <td> <button id="btnOrdenTrabajo" onclick="OrdenTrabajo();">ORDEN DE TRABAJO EN CURSO</button> </td>
                <td> <button id="btnControlar" onclick="ControlarKia();">CONTROLAR MI KIA</button> </td>
            </tr>
        </table>
        <!-- END_CUSTOM_CODE_miKia -->
    </div>
    <style>
        tr,
        td {
            width: 100%
        }
        
        button {
            width: 100%;
            height: 100%
        }
        
        <style> </div>